* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6d7db;
}
.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 420px;
  justify-content: center;
}
.box {
  position: relative;
  height: 160px;
  width: 160px;
  border: 2px solid #333;
  border-radius: 12px;
}
.image {
  background-image: url(main-logo.PNG);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
